<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#F12711" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        <h1 style="color: #ffff;">The weather app</h1>
                        <img  src="cid:sun.png"  alt="Creating Email Magic" width="90" height="90" style="display: block;" />
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                    <b>Witaj nowy użytkowniku !</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    Bardzo się cieszymy, że dołączyłeś do naszej aplikacji. Aby dokończyć rejestrację kliknij proszę w poniższy przycisk w celu potwierdzenia
                                    swojego adresu email.
                                </td>

                            </tr>
                            <tr >
                                <td style="padding: 0px 30px 35px 0px">
                                        <a style="display:block; margin:0 auto; padding:0.6em 2em; border-radius: 8px;
                                        color:#fff; background-color:#2C3E50; font-size:1.1em; border:0; cursor:pointer; width:9em;
                                        text-decoration: none; text-align: center; font-family: Arial, sans-serif; font-weight: bold;" th:href="${link}">Potwierdź email</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            <img src="cid:thermometer.png"  alt="" width="45%" height="100" style="display:block; margin:0 auto;" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                                            Zawszę będziesz mógł sprawdzić temperaturę w miejscu, w którym się znajdujesz.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">
                                                &nbsp;
                                            </td>
                                            <td width="250" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr style="text-align:center;">
                                                        <td>
                                                            <img src="cid:raindrop.png"  alt="" width="45%" height="100" style="display:block; margin:0 auto;" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                                            Deszcz? Już nigdy Cię nie zaskoczy. :). Sprawdź a się przkonasz.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#F5AF19" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                    &reg; The weather app 2020<br/>
                                    <a href="#" style="color: #ffffff;"><font color="#ffffff">The weather app</font></a> zobacz naszą stronę.
                                </td>
                                <td align="right" width="25%">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>